<section class="first-section tophead-bg fixedheader">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mrgn navhead01">
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark main-nav">
          <a class="navbar-brand" href="#"><img class="wid-260" src="assets/images/logo.svg" width="200px"></a>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="privacy-section">
  <div class="container">
    <div class="">
      <div class="col-lg-12 col-md-12 col-sm-12 description p-0 mb-4">
        <h2 class="heading">Terms Of Use</h2>
        <p class="text-content">The following Terms of Use (“Terms of Use”) govern access to the use and/or download and
          install of the DOC INTACT private cloud sharing desktop, browser and mobile applications (the “Application”)
          as made available by Cognitive Innovations Labs Private Limited.</p>
        <p class="text-content">
          By accessing the Application as directed by your employer, client or business partner and a business user and
          in those circumstances your use of the Application is also subject to the terms of the Software Licence
          between DOC INTACT and its Enterprise Licence licensee (“the DOC INTACT Customer”).By downloading and using
          the Application, you confirm that you are either a consumer or a Business User.
        </p>
      </div>
      <h2 class="heading mb-4">Please read these Terms of Use Carefully before using the Application, as It explains how
        You are Licensed to Use the Application.</h2>
      <div class="mb-4">
        <h4 class="heading">Privacy Policy for Consumers:</h4>
        <p class="text-content">Use of any part of the Application is also subject to the DOC INTACT’s Privacy Policy.
        </p>
      </div>
      <div>
        <h4 class="heading">Privacy Policy for Business Users:</h4>
        <p class="text-content">Your use of the Application is subject to the DOC INTACT’s Customer’s Own Privacy
          Policy. As a business User You should contact the DOC INTACT’s Customer for further details.</p>
      </div>
      <div class="mb-4">
        <p class="text-content">By using the Application, you are telling us that you accept and agree to be bound by
          these Terms of Use and, if you are a Consumer, The DOC INTACT’s Privacy Policy. If you do not accept or
          understand these Terms of Use or any Part of Them, you should not use or access the Application or Any Part of
          It.</p>
      </div>
      <div>
        <h3 class="heading">INTRODUCTION</h3>
        <p class="text-content">The Application is owned by Cognitive Innovations Labs Private Limited, referred to as
          “DOC INTACT”, “us”, “we”, and “our” in these Terms of Use.</p>
      </div>
      <div class="mb-4">
        <h3 class="heading">FOR BUSINESS USERS ONLY:</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">DOC INTACT has granted a licence to the DOC INTACT Customer to use the Service
            under the terms of the separate Software Licence.</li>
          <li class="text-content mb-2">The Software Licence governs the terms upon which DOC INTACT makes available the
            Application to the DOC INTACT Customer, and these Terms of Use form the limited revocable licence granted to
            Licensed Users pursuant to the Software Licence to download and/or use the Application.</li>
          <li class="text-content mb-2">In the event of any inconsistency or conflict between these Terms of Use and the
            Software Licence, then the Software Licence shall prevail.</li>
          <li class="text-content mb-2">No additional rights are granted to use the Service under these Terms of Use.
          </li>
          <li class="text-content mb-2">“Licensed User” means the person permitted to use the Application by the DOC
            INTACT Customer pursuant to the licence agreement between DOC INTACT and the DOC INTACT Customer.</li>
          <li class="text-content">Your access to the Service shall be limited to the DOC INTACT Customer’s business
            operations pursuant to the Software Licence.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">IMPORTANT NOTE ABOUT MOBILE DATA USAGE</h3>
        <ul class="privacy-list">
          <li class="text-content">Please note that your use of the Application requires an internet connection. Where
            you can access the Application via a mobile device, we recommend you to use a Wi-Fi service rather than
            mobile data connection, if you have a limited mobile data package, we are not responsible for the use of
            your data package and any additional costs you may incur.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">YOUR USE OF THE APPLICATION AND DETAILS ON SETTING UP AN ACCOUNT</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">You may need to set up an account in order to use and access the Application. To
            set up an account, you will need to register using your email address.</li>
          <li class="text-content mb-2">Your username and password are personal to you and you should not share it or
            disclose it to any third party without our prior written permission.</li>
          <ul class="mb-4">
            <h3 class="heading">You agree that:</h3>
            <li class="text-content mb-2">You are solely responsible for maintaining the confidentiality of your account
              details.</li>
            <li class="text-content mb-2">You are solely liable for any use of the Application and Service using your
              account.</li>
            <li class="text-content mb-2">All user information you provide is accurate and truthful about you, and you
              shall not set up an imposter or fake account to any other person.</li>
          </ul>
          <li class="text-content mb-2">WE ARE NOT LIABLE FOR ANY IMPROPER USE OF YOUR ACCOUNT OR ANY USE OF YOUR
            ACCOUNT BY ANY THIRD PARTY.</li>
          <li class="text-content mb-2">You shall ensure that any data provided, input or uploaded by you or on behalf
            of your business, company, and/or organisation will not be contrary to, or in violation of any applicable
            law or regulation.</li>
          <li class="text-content mb-2">You shall not store, distribute or transmit any virus, or any material through
            the Application that is unlawful, harmful, threatening, defamatory, obscene, infringing, harassing or
            racially or ethnically offensive; facilitates illegal activity; depicts sexually explicit images; or
            promotes unlawful violence, discrimination based on race, gender, colour, religious belief, sexual
            orientation, disability, or any other illegal activities.</li>
          <li class="text-content mb-2">In the event that you break any provision of these Terms of Use, we may suspend
            or delete your access to the Service and/or remove content created/uploaded by you.</li>
          <li class="text-content"><b>BUSINESS USERS:</b> Please note that Business Users are required to use their work
            email addresses and their accounts shall be set out by the DOC INTACT’s Customer administrators on your
            behalf.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">LICENCE OF THE APPLICATION</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">We hereby grant you a limited Product licence to use the Application in
            accordance with the terms of Use.</li>
          <li class="text-content mb-2">This licence is revocable, non-exclusive, non-transferable and
            non-sub-licensable.</li>
          <li class="text-content mb-2">The licence is granted to you only. You shall not share the Application with any
            third party.</li>
          <li class="text-content">You must regularly back up any data, content, or information made available to or via
            the Service with a separate service or system.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">ABOUT THE OWNERSHIP OF THE APPLICATION AND ORIGINAL CONTENT.</h3>
        <ul class="privacy-list">
          <li class="text-content">Subject to taken the possession of Content (owned by you and/or the DOC INTACT
            Customer for Business Users) rights like title, interest, ownership rights, any copyright, design right,
            database right, patents, rights to inventions, know-how, trade, business names, trade secrets and trade
            marks (whether registered or unregistered) and any applications therefore and other intellectual property
            rights (together “Intellectual Property Rights”) in the Application belongs to us and/or our licensors.
          </li>
          <li class="text-content">All rights are asserted and reserved, save for those granted under these Terms of
            Use. The Application may contain licensed materials and our licensors may act to protect their interests in
            the event of any breach of these Terms of Use. We do not grant you any Intellectual Property Rights in
            respect of the Application or any other materials unless expressly provided in these Terms of Use.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">HOW WE USE YOUR UPLOADED CONTENT</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">As Licensed User, you may upload multiple file types such as .doc, .docx and pdf
            and other content to the Service <b>(“Content”)</b>.</li>
          <li class="text-content mb-2">You / the DOC INTACT Customer / a Business User shall take ownership of your
            posted Content, but you / the DOC INTACT Customer / a Business User will be granting us certain rights to
            use your content as set out of these Terms of Use (and the Software Licence where you are a Business User).
          </li>
          <li class="text-content mb-2">We not review any Content before and after it is submitted by users.</li>
          <ul>
            <h3 class="heading">Your licence to us (and our group companies) to use your Content:</h3>
            <li class="text-content mb-2">By uploading your Content through the Application, you grant us all necessary
              rights, licenses and permissions to: </li>
            <li class="text-content mb-2">Use, copy, edit, distribute, store, share and make available your Content on
              the Service.</li>
            <li class="text-content mb-2">Allow us to grant other users of the Service, authorised by you, the right to
              view and share your Content on the Service.</li>
            <li class="text-content mb-2">Use your geo-location in order to enable specific tracking /security features
              on the Application.</li>
          </ul>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">The licence you grant to us is:</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">On a non-exclusive basis, you can use your own Content elsewhere;</li>
          <li class="text-content mb-2">Royalty free, meaning that we do not pay you for uploading your Content and
            granting us the rights to use your Content;</li>
          <li class="text-content mb-2">Is sub-licensable and transferable by us, so that we can grant necessary
            licences and permissions, to enable us to provide the Service and generally exploit the rights you grant us.
          </li>
          <li class="text-content mb-2">We shall be permitted to remove, restrict or suspend or alter your account for
            any reason in accordance with the Software Licence.</li>
          <li class="text-content"><b>BUSINESS USERS:</b> Please note that your use of the Application shall be subject
            to any additional terms put forward by the DOC INTACT Customer which direct your employment / relationship
            with the DOC INTACT Customer. Such terms apply between you and the DOC INTACT Customer and shall not bind
            DOC INTACT in any way.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">NECESSARY SYSTEM AND PLATFORM REQUIREMENTS</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">Apps are available as part of the Service are developed to work on the version
            of the operating system and/or device platform available at the time of the release or such other version as
            may be notified to you when obtaining the apps.</li>
          <li class="text-content mb-2">Your access to and use of the Service may be linked to your Apple (iTunes),
            Google (Play store), or other account and you are required to comply with the Terms of Use which apply to
            any such account in order to use the Service.</li>
          <li class="text-content mb-2">You require an internet connection, which you must get your own expense, to use
            features of the Service.</li>
          <li class="text-content mb-2"> Installing or using any apps distributed as part of the Service (“App” below)
            on iOS you agree that these terms (which we are required by Apple to incorporate) shall apply:</li>
          <ul class="privacy-list">
            <li class="text-content mb-2">Acknowledgement: You and we acknowledge that these Terms of Use constitutes an
              agreement which is concluded between you and us only, and not with Apple Inc, nor any subsidiary or
              affiliate company of Apple Inc, <b>(“Apple”)</b>. You also acknowledge that we are solely responsible for
              the App and the content within the App.</li>
            <li class="text-content mb-2">Grant of Licence: Subject to consideration and your agreement with all
              conditions of these Terms of Use we grant you a non-exclusive, personal, revocable, non-transferable
              license to use the App and content for your lifetime on an iOS product which you own or control, and as
              permitted by the usage rules set forth in the App Store Terms (http://www.apple.com/legal/terms/), and in
              accordance with our Privacy Policy.</li>
            <li class="text-content mb-2">Maintenance and Support: We are uniquely responsible for providing support and
              maintenance for the App. You and we acknowledge that Apple has no obligation whatsoever to furnish any
              maintenance and support services with respect to the App.</li>
            <li class="text-content mb-2">Product Claims: You acknowledge that we are only responsible for addressing
              any claims you may have relating to the App, including but not limited to: </li>
            <ul>
              <li class="text-content mb-2">Product liability claims; </li>
              <li class="text-content mb-2">Any claim that the App fails to conform to any applicable legal or
                regulatory requirement, and </li>
              <li class="text-content mb-2">Claims arising under consumer protection or similar legislation.</li>
            </ul>
            <li class="text-content mb-2">Intellectual Property Rights: You acknowledge that in the event of a third
              party claim that the App, or your possession and use of the App infringes that third party’s intellectual
              property rights, then we shall be solely responsible for the investigation, defence, settlement and
              discharge of any such intellectual property right infringement claim, and not Apple.</li>
            <li class="text-content mb-2">Legal Compliance: You represent and warrant that: </li>
            <ul>
              <li class="text-content mb-2">you are not located in a country that is subject to a Government embargo, or
                that has been designated by the Government as a “terrorist supporting” country, and </li>
              <li class="text-content mb-2">you are not listed on any Government list of prohibited or restricted
                parties.</li>
            </ul>
            <li class="text-content">Third Party Beneficiary: You acknowledge and agree that Apple, and Apple’s
              subsidiaries, are third party beneficiaries of these Terms of Use, and that when you accept the Terms of
              Use of these, Apple will have the right (and will be deemed to have accepted the right) to enforce these
              Terms of Use against you.</li>
          </ul>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="heading">TERM AND TERMINATION</h3>
        <ul class="privacy-list">
          <li class="text-content  mb-2">These Terms of Use takes effect upon your download, installation and/or use of
            any part of the Service and remain effective until terminated by either of us.</li>
          <li class="text-content  mb-2">You may terminate these Terms of Use at any time by deleting all copies of the
            Application and other materials received by you through the Service and by ceasing to use the Service.</li>
          <li class="text-content  mb-2">The Terms of Use shall automatically terminate if you fail to comply with any
            term or condition of these Terms of Use.</li>
          <li class="text-content  mb-2">Upon termination, you shall cease all use of the Service and delete all copies
            of apps and other materials received by you through the Service. Termination shall not affect any accrued
            rights or obligations up to the time such termination becomes effective.</li>
          <li class="text-content"><b>BUSINESS USERS:</b> These Terms of Use shall automatically expire on termination
            of the Software Licence.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading">OUR LIMITATIONS OF LIABILITY</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">THE SERVICE IS PROVIDED TO YOU ON AN ‘AS IS’ AND ON AN ‘AS AVAILABLE’ BASIS
            WITHOUT ANY REPRESENTATION, ENDORSEMENT OR WARRANTY OF ANY KIND OTHER THAN THAT IT WILL BE OF SATISFACTORY
            QUALITY, AS DESCRIBED, AND FIT FOR PURPOSE.</li>
          <li class="text-content mb-2">WE DON’T GUARANTEE FOR THE FOLLOWING SERVICE </li>
          <ul>
            <li class="text-content mb-2">FREE OF ERRORS, VIRUSES OR BUGS OR OTHER DEFECTS; (OR) </li>
            <li class="text-content mb-2">THAT THE SERVICE OR ANY INFORMATION DISPLAYED OR DISTRIBUTED THROUGH THE
              SERVICE OR IN THE ACCOMPANYING DOCUMENTATION WILL BE ACCURATE OR COMPLETE, (OR) </li>
            <li class="text-content mb-2">THAT ANY DEFECTS IN THE SERVICE WILL BE CORRECTED; (OR) </li>
            <li class="text-content mb-2">THAT OPERATION OF THE SERVICE WILL BE UNINTERRUPTED.</li>
          </ul>
          <li class="text-content mb-2">WE SHALL HAVE NO LIABILITY IN RESPECT OF THE CONTENT, TRANSMISSION, RECEIPT,
            HOSTING, PROCESSING OR OTHER USE OF ANY CONTRIBUTION.</li>
          <li class="text-content mb-2">YOU ACKNOWLEDGE THAT USE OF THE SERVICE OR RELIANCE ON ANY CONTRIBUTION OR
            INFORMATION OBTAINED THROUGH THE SERVICE, THE RESULTS OF THE SERVICE, OR CONCLUSIONS DRAWN FROM SUCH USE
            SHALL BE AT YOUR SOLE RISK.</li>
          <li class="text-content mb-2">NOTHING IN THESE TERMS OF USE SHALL EXCLUDE OR LIMIT OUR LIABILITY FOR
            FRAUDULENT MISREPRESENTATIONS OR FOR DEATH OR PERSONAL INJURY RESULTING FROM OUR NEGLIGENCE OR THAT OF OUR
            EMPLOYEES OR AGENTS.</li>
          <li class="text-content mb-2">TO THE FULLEST EXTENT PERMISSIBLE BY LAW, INCLUDING IN YOUR LOCAL JURISDICTION,
            WE EXCLUDE ALL OTHER LIABILITY FOR ANY LOSS OR DAMAGE, INCLUDING ANY LIABILITY OR DAMAGE TO ANY DEVICE OR
            COMPUTER SYSTEM (SAVE TO THE EXTENT THAT DAMAGE TO YOUR DEVICE OR OTHER DIGITAL CONTENT WHICH YOU OWN IS
            CAUSED BY THE SERVICE AS A RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL IN WHICH CASE YOU MAY BE
            ENTITLED TO COMPENSATION OR WE MAY BE OBLIGED TO REPAIR YOUR DEVICE).</li>
          <li class="text-content mb-2">NOTHING IN THESE TERMS OF USE SHALL LIMIT OUR LIABILITY TO THE DOC INTACT
            CUSTOMER UNDER A SOFTWARE LICENCE.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading">Restrictions</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">You may not:</li>
          <li class="text-content mb-2">Sell, distribute, reproduce, transfer, publicly display, translate, modify,
            adapt, create derivative works from, deconstruct, reverse engineer, decompile or disassemble, rent, lease,
            loan, sub-license or otherwise deal in copies or reproductions of the Service or Application except as
            expressly permitted by these Terms of Use.</li>
          <li class="text-content mb-2">Remove, delete, obscure, disable, modify, add to or tamper with any program code
            or data, copyright, trademark or other proprietary notices and legends contained on or in the Service or
            Application; or</li>
          <li class="text-content mb-2">Remove, disable or avoid any copy protection software contained on or within the
            Service or Application.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading">ENTIRE AGREEMENT</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">These Terms of Use sets out the complete understanding and agreement between DOC
            INTACT and a Licensed User in respect of the use by you of the Application and may only be amended or waived
            in writing by us.</li>
          <li class="text-content mb-2"><b>BUSINESS USERS:</b>
            Nothing in these Terms of Use shall alter or override the Software Licence.
          </li>
        </ul>
      </div>
      <div>
        <h3 class="heading">NO WAIVER</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">No waiver by us of any failure by you to comply with or perform a provision of
            these Terms of Use shall constitute a waiver of any preceding or succeeding failure.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading">ASSIGNMENT</h3>
        <ul class="privacy-list">
          <li class="text-content">These Terms of Use are personal to you. You may not assign, sub-license, transfer or
            dispose of your rights or obligations under this agreement.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading"> CHANGES TO THESE TERMS OF USE</h3>
        <ul class="privacy-list">
          <li class="text-content">We may change these Terms of Use for any legal, regulatory or security reasons, or
            for any other reason we reasonably decide, including without limitation, where such change is required or
            encouraged by a third-party service provider. We will notify you of any changes and you will be required to
            accept the changes to continue to use the Service.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading"> SEVERANCE </h3>
        <ul class="privacy-list">
          <li class="text-content">If any provisions of these Terms of Use are held to be invalid or unenforceable, the
            remaining provisions will remain in full force and effect.</li>
        </ul>
      </div>
      <div>
        <h3 class="heading">GOVERNING LAW AND JURISDICTION</h3>
        <ul class="privacy-list">
          <li class="text-content mb-2">Subject always to applicable mandatory consumer protections, including those of
            your country:</li>
          <li class="text-content mb-2">In the event of any dispute between you and us regarding these Terms of Use
            and/or your use of the Service, the laws will apply.</li>
          <li class="text-content mb-2">You agree that if we are unable to settle any dispute with you informally, then
            proceedings in court or arbitration.</li>
        </ul>
      </div>
    </div>
  </div>
</section>