.privacy-section {
    margin-top: 100px;
}

.description {
    margin-top: 2rem;
}

.heading {
    color: #4CA2D1;
    font-size: 16px;
    font-weight: 600;
}

.text-content {
    text-align: justify;
    color: #2D363C;
    font-size: 16px;
    font-weight: 500;
    font-family: 'OrkneyRegular' !important;
}

@media (min-width: 1024px) {
    .d-show {
        display: block !important;
    }
}

.d-show {
    display: none;
}

.ipad-home-footer {
    background: linear-gradient(200deg, rgb(104, 177, 216), rgb(104, 134, 173)) !important;
    padding: 14px;
    margin: 10px 0 0;
    color: #fff;
}

.i-show {
    display: none;
}

.mt-60 {
    margin-top: -5%;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.privacy-list {
    padding-left: 14px;
}

.fixedheader {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1;
}

.main-nav {
    box-shadow: none;
    z-index: 1;
    padding: 0;
}