<section class="bx-sh pl-topres bg-fff1">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light sh-none" style="height: 95px;">
      <a class="navbar-brand" href="/"><img src="assets/images/logo.svg" class="logo"></a>
    </nav>
  </div>
</section>


<section>
  <div class="container">
<div class="video">
  
    <video controls   width="100%" autoplay='false' id="video-player"  preload = "auto" controlsList="nodownload" *ngIf="videourl
    ">
         <source [src]="videourl.path" type="video/mp4"  />
        
          Video player is not supported by your browser.
    </video>
</div>
</div>
</section>