.form_width {
    width: 170%;
}

.form_width {
    width: 170%;
}

@media (max-width: 768px) {
    .none-ml {
        margin-left: unset !important;
    }
}

@media (max-width:500px) {
    .nav-flex-res {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
    }
    .make-li {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.i_col {
    color: #707070 !important;
}

.side_nav_col {
    color: white !important;
    text-align: center;
}

.side_bg {
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
}

.p-10-0 {
    padding: 12px 0 0 0;
}

.bg_none .active {
    background-color: white !important;
    color: #356890 !important;
}

.link_col .nav-link {
    color: #356890 !important;
}

.fx-dir {
    flex-direction: column !important
}

.side-nv {
    position: fixed;
    width: 16.5%;
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
}

.side-links {
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-weight: 500
}

.wid-100 {
    width: 100%;
}

.side-links:hover {
    background: #fff;
    color: #39709A;
}

.search-ip {
    padding: 22px 296px 22px 48px;
}

.jus-cen {
    justify-content: center
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    color: #C5C3C3;
    font: 600
}

.nv-bg {
    background: #fff;
    box-shadow: none
}

.mar-t-35 {
    margin: 35px 0 0 0;
}

.wid-80 {
    width: 80%
}

.list-tags {
    position: absolute;
    top: 24%;
}

.pad-lr-100 {
    padding: 0 100px
}

.mar-t-50 {
    margin: 50px 0 0 0;
}

.pad-t-30 {
    padding: 30px 0 0 0;
}

.labl-fon {
    color: #8E8E8E;
    font-size: 12px;
}

.just-now {
    font-size: 13px;
    color: black;
}

.point {
    cursor: pointer;
}

.disp-blk {
    display: block;
    border: none
}

.welcome-fon {
    font-size: 36px;
    color: #fff;
    font-weight: 500
}

.modl-bg {
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
}

.mdl-para {
    color: #A6BEC7
}

.upload-but {
    background: #EA5455;
    color: #fff;
    font-size: 26px;
    border: none;
    padding: 10px 30px;
}

.drag-boarder {
    border: 2px solid #6A89CC;
    border-style: dashed;
}

.note_bg {
    background-color: #FAFAFA;
}

.add-doc {
    color: #6A89CC;
    cursor: pointer;
}

.add-doc:hover {
    text-decoration: underline;
}

#file_input_id {
    display: none;
}

.pad-tb-50 {
    padding: 50px 0;
}

.vr {
    width: 1px;
    background-color: #000;
    position: absolute;
    top: 52px;
    bottom: 0;
    height: 242px;
}

.socil-but {
    background: #fff;
    border: 1px solid #707070;
    width: 126px;
    height: 38px;
    ;
    margin: 0 16px;
    border-radius: 4px;
}

/* MY NAV CSS */

.form_width {
    width: 170%;
}

.form_width {
    width: 170%;
}

.mwi-drop {
    min-width: 23rem !important;
}

.mwi-drop-pro {
    min-width: 19rem !important;
}

@media (max-width: 468px) {
    .mwi-drop {
        min-width: 15rem !important;
    }
}

.p-clear {
    padding: 3px 0px 0px 2px;
}

/* <sharedpopup> */

.closecss {
    background-color: #010002 !important;
    border-radius: 50px !important;
    padding: 0px 5px !important;
    position: relative !important;
    top: 10px;
}

.iconcss {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: normal !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.close:not(:disabled):not(.disabled) {
    opacity: 1;
}

.active {
    color: #407BA8 !important;
}

.hrcss {
    border: 1px solid #407BA8 !important;
    width: 60% !important;
    margin-left: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.txtcss {
    font-weight: 600 !important;
}

.modalcss {
    left: 6% !important;
    position: relative !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 20px !important;
}

@media(max-width:800px) {
    .hrcss {
        width: 37% !important;
        margin-left: 0px !important;
    }
    .mediacss {
        padding: 10px !important;
    }
}

.txt1css {
    color: #000 !important;
    font-weight: 600 !important;
}

.btncss1 {
    color: #000;
    border-radius: 5px;
    border: 1px solid #222;
    box-shadow: inherit;
    text-transform: inherit;
    font-weight: 600;
    padding: 7px 22px;
}

@media(max-width:1000px) {
    .cmpltdivcs {
        top: 0px !important
    }
}

.welcome-fon {
    font-size: 36px;
    color: #fff;
    font-weight: 500
}

.modl-bg {
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
}

.mdl-para {
    color: #A6BEC7
}

.upload-but {
    background: #EA5455;
    color: #fff;
    font-size: 26px;
    border: none;
    padding: 10px 30px;
}

.drag-boarder {
    border: 2px solid #6A89CC;
    border-style: dashed;
}

.add-doc {
    color: #6A89CC;
    cursor: pointer;
}

.add-doc:hover {
    text-decoration: underline;
}

#file_input_id {
    display: none;
}

.pad-tb-50 {
    padding: 50px 0;
}

.vr {
    width: 1px;
    background-color: #ccc;
    position: absolute;
    top: 52px;
    bottom: 0;
    height: 242px;
}

.fon-24 {
    font-size: 24px;
    color: #000000;
}

.socil-but {
    background: #fff;
    border: 1px solid #707070;
    width: 100%;
    border-radius: 4px;
}

.btncss {
    padding: 60px 15px !important;
}

.cmpltdivcs {
    position: relative !important;
    top: 30px !important;
}

/* new nav css */

/* start */

.input-group-text {
    color: #A8AAB7;
}

.form-control::placeholder {
    color: #C8C8C8;
    font-size: 10px;
    font-family: 'Nunito';
}

.bx-sh1 {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.drop-bel {
    right: -79px !important;
    margin-top: 20px !important;
}

@media (max-width:800px) {
    .nav-main {
        top: 74% !important;
    }
    .drop-bel {
        top: 78% !important;
    }
}

.nav-main {
    right: 20px !important;
    top: 113%;
}

.hr-tx {
    color: #707479;
}

.si-tx-col {
    color: #919191 !important;
}

.fon-12 {
    font-size: 12px !important;
}

.arrow_box12 {
    position: absolute;
    background: #fff;
    border: 1px solid #fff;
}

.arrow_box12:after, .arrow_box12:before {
    bottom: 100%;
    left: 69%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box12:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 14px;
    margin-left: -18px;
}

.arrow_box12:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #D6D6D6;
    border-width: 14px;
    margin-left: -18px;
}

.arrow_box13 {
    position: absolute;
    background: #fff;
    border: 1px solid #fff;
}

.arrow_box13:after, .arrow_box13:before {
    bottom: 100%;
    left: 96%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box13:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 14px;
    margin-left: -18px;
}

.arrow_box13:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 14px;
    margin-left: -18px;
}

.arrow_box14 {
    position: absolute;
    background: #fff;
    border: 1px solid #fff;
}

.arrow_box14:after, .arrow_box13:before {
    bottom: 100%;
    left: 53%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box14:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #D6D6D6;
    border-width: 14px;
    margin-left: -18px;
}

.arrow_box14:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #D6D6D6;
    border-width: 14px;
    margin-left: -18px;
}

/* --end */

.f-right {
    text-align: right;
}

.br-23 {
    border: 1px solid #EBECEE;
}

.f-50 {
    font-weight: 500 !important;
}