.button_border {
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
    box-shadow: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
}

.button_border1:active {
    background-color: #fff !important;
    border-color: #fff !important;
}

.sml-danger-txt {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #EE6660 !important;
    font-style: initial;
    font-weight: 400;
    font-family: 'nunito';
}

.button_border1 {
    box-shadow: none;
    color: #000 !important;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #fff !important;
    font-weight: 500;
    margin: 0px 15px 10px 0px;
}

.button_border1:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    color: #000;
}

.mat-form-field-infix {
    padding: 0 0 1em 0 !important;
    width: 85% !important;
}

.outercircle {
    width: 150px;
    height: 150px;
    background: #b2b2b2;
    border-radius: 100px;
    position: absolute;
    margin: 0 auto;
    top: -121px;
    bottom: 0;
    right: 0;
    left: 0;
}

.halfcircle {
    width: 140px;
    height: 140px;
    position: absolute;
    background-color: #fff;
    border-radius: 100px;
    right: 5px;
    top: 5px;
    text-align: center;
}

.halfcircle>img {
    margin-top: 5px;
    padding: 38px !important;
}

.data-title {
    margin-top: 10%;
}

.mat-form-field-wrapper {
    padding: 0 !important;
}

.btnhov:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important;
}

@media(max-width:500px) {
    .txtalgn {
        margin-left: 5% !important;
    }
    .m0btxtcs {
        text-align: left !important;
        padding-left: 20px;
    }
}
.eyeicon1{
    position: absolute;
    right: 1px;
}

/* newfolder CSS */

.newflder {
    font-size: 18px;
    padding-left: 20px;
    font-weight: 400;
  }
  
  .rname {
    font-size: 18px;
    padding-left: 20px;
    font-weight: 400;
  }
  
  .header {
    display: block;
    height: 43px;
    background: linear-gradient(217deg, rgb(66, 126, 172), rgb(13, 36, 59));
    color: #fff;
    border-radius: 0px 0px 4px 4px;
    padding: 5px;
  }
  
  .dismissbutton {
    position: relative;
    bottom: 53px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
  }
  
  .dismissbutton:hover {
    color: #fff !important;
  }
  .m0dal{
      width: 100%;
  }
  .txt00{
    color: #000;
    font-weight: 600;
  }
  .modalcnt{
    border: inherit;
    padding: 0px 41px;
  }
  .f00t{
    padding-bottom: 26px;
    float: right;
    padding-right: 25px;
  }
  .cancbtn{
    color: #000;
    border: 1px solid #707070;
    padding: 5px 30px;
    line-height: inherit;
  }
  .creeat{
    background: linear-gradient(217deg,#427eac,#0d243b);
    box-shadow: none;
    padding: 5px 30px;
    line-height: inherit;
  }
  .cl0se:focus{

outline: none;
  }
  .cl0se span{
      color: #fff;
  }
 