<app-myfiles [fileElements]="fileElements | async" [fileData]="files| async" [Myfiles]=Myfiles
    [modalElement]='myElements' [currentRoot]='currentRoot' [path]="currentPath" [canNavigateUp]="canNavigateUp"
    (fileAdded)="addFile($event)" (folderAdded)="addFolder($event)" (refreshPage)="refreshPage()"
    (elementRemoved)="removeElement($event)" (removefavorite)="Removefavorite($event)"
    (elementfavorite)=Favorite($event) (elementShared)="ShareElement($event)" (navigatedDown)="navigateToFolder($event)"
    (navigatedUp)="navigateUp($event)" (elementRenamed)="renameElement($event)" (elementMoved)="moveElement($event)"
    (modalnavigate)="modalnavigate($event)" (modalPath)="modalnavigatepop()" [LoadingUpdate]="LoadingTrue">
</app-myfiles>