<section class="first-section tophead-bg fixedheader">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mrgn navhead01">
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark main-nav">
          <a class="navbar-brand" href="#"><img class="wid-260" src="assets/images/logo.svg" width="200px"></a>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="privacy-section">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 description  mb-4">
      <h2 class="heading">Introduction</h2>
      <p class="text-content">DOC INTACT is a private and enterprise cloud sharing platform and companion app that
        enables you to share your content / Document privately with other users in a secure network making your content
        / Document accessible in the highest quality. Our platform enables you to access or download authorized bindings
        from across the globe and deliver confidential information and content with security and privacy, making it easy
        to send, and keeping you in control by allowing you to track the files that you have shared. </p>
      <h2 class="heading">Privacy and Cookies Policy</h2>
      <p class="text-content">
        The following privacy and cookies policy (“Privacy Policy”) sets out how we use data relating to you and connect
        to all use of your personal information by DOC INTACT, an Application developed by a company name Cognitive
        Innovations Labs Private Limited (“DOC INTACT”, “we”, “us” and “our”).
      </p>
      <p class="text-content">This Privacy Policy forms should be read in combination with our Terms of Use, which can
        be found on our website here: www.docintact.com</p>
      <p class="text-content">This Privacy Policy sets out the basis on which any data we collect from you, or that you
        provide to us through the DOC INTACT private cloud sharing platform and apps (together the “Service”), will be
        processed by us. Please read the following carefully to understand our views and practices regarding your
        personal data and how we will treat it.</p>
      <p class="text-content">We will only collect and process information about you in accordance with this Privacy
        Policy. By accessing the Service, you authorise us to collect, store, access, transfer and use your information
        as described in this Policy. We may make changes to this Policy in the future, which will be posted on this
        page. You should check this page from time to time to ensure you are aware of any changes. Where appropriate, we
        may notify you of changes by email or through the Service.</p>
    </div>
    <div class="mb-4">
      <h3 class="heading">Personal data we may collect about you</h3>
      <ul class="privacy-list">
        <li class="text-content mb-2">Data you Provide (“Submitted Information”) includes:</li>
        <li class="text-content mb-2">Information that you provide by filling in registration forms on our website (such
          as your name, company name, telephone number, land line number, company email id, personal email id, and
          photograph). If you contact us, we may keep a record of that correspondence.</li>
        <li class="text-content mb-2">We may also obtain sensitive personal data about you, if you voluntarily provide
          it through the Service. If you volunteer such information, you will be consenting to our processing it for the
          purpose indicated when you provide it.</li>
        <ul>
          <li class="text-content mb-2">Data we collect includes:</li>
          <li class="text-content mb-2">We may monitor your use of our Service through cookies and similar tracking
            technologies. For example, we may monitor how many times you use the Service, your IP and MAC address, a
            unique device identifier, the browsers and devices you use to access our Service, your internet service
            provider, and the actions you take when using our Service (“Analytics”).</li>
          <li class="text-content  ">Our Service may also collect information which you make available to us and which
            is stored on your device, including contact information, images, location, video or other digital content
            (“Content Information”).</li>
        </ul>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">How we use your personal data</h3>
      <ul class="privacy-list">
        <li class="text-content mb-2">We will use your personal data for the purposes described to you at the time your
          data were collected, and for the following purposes:</li>
        <li class="text-content mb-2">Submitted Information: It helps us to identify you and to open, run and monitor
          any accounts which you hold with us for administration, to process your enquiries, to monitor and distribute
          content and other material you contribute through our Service. </li>
        <li class="text-content mb-2">Analytics: To understand how and how often the users are using our Service and
          also helps us to improve our Service.</li>
        <li class="text-content mb-2">Content Information: It allows you to connect with your contacts and other users
          of the Service (within the Organization), to share videos and other information or content, and to make it
          easier for you to use the Service, for example by pre-populating forms and user accounts.</li>
        <li class="text-content mb-2">We may associate individual information with organizational information will treat
          the combined information as personal data in accordance with this policy for as long as it is combined. We
          will use only the collected information about you in accordance with the Data Protection Act.</li>
        <li class="text-content mb-2">We may also use your submitted data to serve personalised content which we believe
          may be of interest to you or serve relevant advertising to you based on your personal data held with us.</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Disclosure of your information</h3>
      <ul class="privacy-list">
        <li class="text-content">We may disclose your personal information to any member of our group, which means
          within the organization subsidiaries, our ultimate holding company and its subsidiaries, as defined under
          section of the Companies Act.</li>
        <h3 class="heading">Submitted Information:</h3>
        <p class="text-content">We may share your name and email address with the email service providers we use to keep
          you updated with news about our Service, and with other third parties we use (who process your Submitted
          Information in accordance with our instructions) including for the purpose of live chat, marketing, feedback
          and support.</p>
        <p class="text-content">Information which you include within your public profile, or which you share through
          interactive messaging features through our Service, will be shared with other users of the Service.</p>
        <h3 class="heading">Analytics:</h3>
        <p class="text-content">We may publish unidentified data and aggregate statistics data through our websites or
          other channels, although this will not include your personal data.</p>
        <p class="text-content">Our Service integrates with third party analytics providers who process the Analytics
          information we collect in accordance with our instructions, including to: track technical errors which arise
          from your use of the Service; monitor the performance of the Service; monitor how you use our Service
          including the actions you take when using our apps and platform. Data shared with Analytics providers will be
          processed by them for our use only, save that they may create their own reports on an anonymous and aggregated
          basis.</p>
        <h3 class="heading">Content Information:</h3>
        <p class="text-content">The files, video content, information and other content you submit through the Service
          will be shared with the recipients that you select within your secure network. Where you select specific
          recipients (for example, if you are a private message or sharing files with an individual) then only those
          recipients will receive it. Where you allow the Service to access your geo-location, or where it is necessary
          for the Service to access your geo-location in order to enable specific tracking and/or security features,
          that information will be used to make the content displayed to you through the Service more relevant to you.
          You may also tag your Content Information, in which case your approximate location (or any other tags you
          apply) will be visible to those recipients within your secure network.</p>
        <li class="text-content">We may disclose your personal information to any member of our group, which means our
          subsidiaries, our ultimate holding company and its subsidiaries, as defined in Companies Act.</li>
        <ul>
          <h3 class="heading">We may also disclose your personal information to third parties:</h3>
          <li class="text-content">In the event that we sell or buy any business or assets, in which case we may
            disclose your personal data to the prospective seller or buyer of such business or assets.</li>
          <li class="text-content">If we or substantially all our assets are acquired by a third party, in which case
            personal data held by us about our customers will be one of the transferred assets.</li>
          <li class="text-content">If we are under a duty to disclose or share your personal data in order to comply
            with any legal or regulatory obligation or request.</li>
          <li class="text-content">In order to enforce or apply the terms of agreements between us, to investigate
            potential breaches, or to protect the rights, property or safety of us, our customers, or others. This
            includes exchanging information with other companies and organisations for the purposes of fraud protection
            and credit risk reduction.</li>
          <li class="text-content">Who are our external service providers as required to deliver and improve our
            Services.</li>
        </ul>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Where we store your personal data</h3>
      <ul class="privacy-list">
        <li class="text-content">The data we collect from you may be transferred to, and stored at, a destination in any
          geographic area. It may also be processed by staff that operate outside of the geographic area and work for us
          or our suppliers. These staff may be engaged in the maintenance of the Service, and the provision of support
          services. By submitting your personal data, you agree to this transfer, storing or processing. We will take
          all steps reasonably necessary to ensure that your data is treated securely and in accordance with this
          privacy policy.</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Information security</h3>
      <ul class="privacy-list">
        <li class="text-content">Where you have chosen a password that enables you to access the features of our
          Service, you are responsible for keeping this password confidential. We ask you not to share a password with
          anyone.</li>
        <li class="text-content">We are loyal to the security of your information and the data we hold. Unfortunately,
          the transmission and storage of information via the internet is not completely secure. Although we will do our
          best to protect your personal data, we cannot guarantee the security of your data transmitted or stored
          through our Service; any transmission is at your own risk. Once we have received your information, we will use
          strict procedures and security features to try to prevent unauthorised access.</li>
        <li class="text-content">When you share any Content with us, you should ensure that you are happy for that
          Content to be shared in case it contains personal information that you prefer to keep private.</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Your rights</h3>
      <ul class="privacy-list">
        <li class="text-content">You can edit and vary any profile information via your account page.</li>
        <li class="text-content">If you believe that your personal information about with us is incorrect, then please
          contact us and we shall correct the personal data as soon as reasonably practicable. If you would like to
          receive a copy of the information, we have about you, please note that an administration fee may be
          applicable.</li>
        <li class="text-content">If the Service includes your personal data, which you would like to remove for other
          reasons, please let us know. We will try to respond to your query as soon as possible and expect to be in
          touch within 48 hours except in extraordinary cases. Please note that we may ask you for further information
          or take other steps to confirm your identity before processing your requests.</li>
        <li class="text-content">You can contact us in connection with your personal data and this Privacy Policy at
          info@docintact.com</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Deleting your content and deactivating your account</h3>
      <ul class="privacy-list">
        <li class="text-content">The Service allows you to delete content which you upload to the Service and to
          deactivate your account.</li>
        <li class="text-content">Please note that, if you deactivate your account, we will make your account unavailable
          to others.</li>
        <li class="text-content">However, any Content which you have already shared through the Service may be retained
          by the Service. We shall also retain all anonymous data related to your account and use of the Service to
          enable us to continue to better understand how users use the Service. We will not be able to identify you from
          this data.</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">External websites</h3>
      <ul class="privacy-list">
        <li class="text-content">If you follow a link to any third party websites or services, please note that we do
          not accept any responsibility or liability for the collection, storage or use of personal data by those third
          parties, and you should check the applicable privacy policies before you submit any personal data to those
          websites or use these services.</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="heading">Cookies</h3>
      <ul class="privacy-list">
        <li class="text-content">A cookie is a text file placed onto your device which contain information that is
          transferred to your computer’s hard drive when you access our Service. We use cookies and other online
          tracking devices to deliver a better and more personalised service, improve and monitor our Service, including
          in the following ways:</li>
      </ul>
    </div>
    <ul class="privacy-list">
      <h3 class="heading">Authentication:</h3>
      <li>
        <p class="text-content">To log you into our Service and keep you logged in.</p>
      </li>
    </ul>
    <ul class="privacy-list">
      <h3 class="heading">Preferences:</h3>
      <li class="text-content">To remember information about you such as your preferred language and configuration.</li>
    </ul>
    <ul class="privacy-list">
      <h3 class="heading">Analytics:</h3>
      <li class="text-content">To help us understand how you use our Service, and how often, so we can improve it to
        deliver a better and more personalised service experience for our users.</li>
      <li class="text-content">To carry out research and statistical analysis to help improve our content, products and
        services.
        If you want to learn about how to opt out of Google Analytics, please visit the following URL:
        https://tools.google.com/dlpage/gaoptout/ or change your Google Ads Settings. You can find out more about how
        Google uses data here: https://www.google.com/policies/privacy/partners/
      </li>
    </ul>
    <ul class="privacy-list">
      <li class="text-content">The information we obtain from our use of cookies will not usually contain your personal
        data. Although we may obtain information about your device such as your IP address, your browser and/or other
        internet log information, this will not usually identify you personally.</li>
      <li class="text-content">Our websites display a notice alerting you to our use of cookies and other similar
        technologies and linking to this privacy policy. By using our websites after this notice has been displayed to
        you, you are letting us know that you consent to our use of cookies or similar technologies for the purposes
        described in this privacy policy.</li>
      <li class="text-content">Please note that, if you choose to disable cookies or similar technologies on your
        device, you may be unable to make full use of our Service.</li>
      <li class="text-content">We work with third parties who may also place cookies on your device, for example, Google
        Analytics, which we use to monitor how visitors use our Service. </li>
      <li class="text-content">These third-party suppliers are responsible for the cookies, they place on your device.
        Some of these cookies are session cookies, which will delete after you close the browser or app or log out.
        Other cookies can be deleted by using your browser or device settings. You may also use your browser or device
        settings to block cookies, although please note that this may limit your usability of the Service.</li>
    </ul>
  </div>
</section>