<section class="first-section tophead-bg">

    <div class="container">
    <div class="row flex-row-reverse  pd-t0p">
    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-6 text-center d-non">
    <img src="assets/img/img12.svg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-xs-12 col-md-7 col-lg-6">
    <div class="mbnr-title headfont">
    <h5>Business Process Simplified</h5>
    </div>
    <div class="m-bnr-content headfont">
    <p class="col-83 home-txt fw-3">
    Technology continues to transform the way we interact, shop, bank, consume entertainment, earn
    money, work, and experience life in general. Doc Intact makes it simple to sign, stamp, fill
    out
    forms, exchange, store and retrieve documents from any part of the world without your
    information being compromised.
   
    </p>
    </div>
   
   
   
    <div class="strat-free-dv-marg nunito-font">

            <div class="input-group mb-3">
                <!-- <input type="text" class="form-control" class="strat-free-trail-inpt" placeholder="abc123@gmail.com"
                    (keyup)="onKeyDownstartfreetrialemail(emailForSignup);noEmail=false" [(ngModel)]="emailForSignup"
                    name="emailForSignup" aria-label="Recipient's username" aria-describedby="basic-addon2"
                    #emailForSignup1="ngModel" pattern="([A-Za-z]|[0-9])[A-Za-z0-9.-]+[A-Za-z0-9]@((?:[-a-z0-9]+\.)+[a-z]{2,})" autocomplete="off"
                    required> -->


                <div class="input-group-append">
                    <button  class="input-group-text strat-free-trail-but pl-point btn-lg" type="submit" (click)="onTap()"><img
                            class="strat-free-trail-inpt-gap rem-sh" src="assets/images/Group2041.png">Start
                        Your Account Today</button>

                </div>
               
            </div>


  
   
    </div>
    </div>
   
    </div>
    </div>
</section>


<section class="about-us-bg headfont bgcolor" #about>
    <div class="container">
        <div class="row about-us-row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                <img src="assets/images/champ.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                <div class="row about-tpad">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <h5 class="float-left">About Us
                            <hr class="hr-about">
                        </h5>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <p class="col-83 home-txt fw-3">Cognitive Innovations is a global technology company that
                            focuses on Artificial Intelligence, Blockchain, Machine Learning, Cryptocurrency, the
                            Internet of Things, E-Wallet, Supply Chain Management, Port Logistics and Energy. Our
                            in-house experts relentlessly strive to deliver world-class modern technology solutions
                            that
                            have the potential to redefine the way companies do business.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 pt-3">
                        <button class="read-more-but btn btn-lg" routerLink="/about">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ===============================mobile view=========================== -->
<section class="our-simple-process i-show bg-drop" #services>
    <div class="container">
        <div class="row cen-dialog">
            <div class="col-lg-10 col-sm-12 col-xs-12 col-md-10 headfont">
                <div class="subtitle fancy text-center headfont"><span>Our Simple Process</span></div>
                <div class="stext">
                    <p class="mt-5">Doc Intact offers you unmeasurable robust technology solutions. It authenticates
                        the
                        user to upload, customise, and also revoke the documents with end-to-end encryption. Our
                        process
                        is very simple and time-saving.
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <img src="assets/images/our-simple-process.png" width="100%" height="100%">
        </div>
    </div>
</section>
<section class="our-simple-process d-show bg-drop">
    <div class="container">
        <div class="row cen-dialog">
            <div class="col-md-10 col-sm-12 col-xs-12 col-lg-10 text-center headfont">
                <h5>Our Simple Process
                    <hr class="hr-about1">
                </h5>
                <div class="stext pt-2">
                    <p>Doc Intact offers you unmeasurable robust technology solutions. It authenticates the user to
                        upload, customise, and also revoke the documents with end-to-end encryption. Our process is
                        very
                        simple and time-saving.</p>
                </div>
            </div>
        </div>

        <div class="row no-gutter blocks-tpad lato-fon">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ipad-hide">
                <div class="row upload-doc-bg no-gutter blocks-tpad">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-1">
                        <div class="number1">01</div>
                        <div class="sim-p">
                            <h6 class="number1-sub">Upload Your Documents</h6>
                            <p class="number1-sub1">Documents can be securely uploaded using the single sign-on
                                integration, by pasting the URL, choosing a normal or zip file/folder.</p>
                        </div>

                    </div>
                </div>
                <div class="row doc-access-bg no-gutter blocks-tpad">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-5">

                        <div class="number5">05</div>
                        <div>
                            <h6 class="number5-sub">Customisation</h6>
                            <p class="number5-sub1">You can customise and assign the required and optional fields to
                                the
                                recipient by crafting the following: date, photograph, watermark etc.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 number2-tpad ipad-hide">
                <div class="row share-doc-bg no-gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-2">

                        <div class="number2">02</div>
                        <div>
                            <h6 class="number2-sub">Share documents with high security</h6>
                            <p class="number2-sub1">
                                Documents are end-to-end encrypted and sharable via email with geographical location
                                restriction.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ipad-hide">
                <div class="row share-revoke-bg no-gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-3">
                        <div class="no3-txt-block">
                            <div class="number3">03</div>
                            <div>
                                <h6 class="number3-sub">Access Documents</h6>
                                <p class="number3-sub1">Documents can be accessed from anywhere and the user to add
                                    their photograph and signature.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row eye-track-bg no-gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-4">
                        <div class="no4-txt-block">
                            <div class="number4">04</div>
                            <div>
                                <h6 class="number4-sub">Eye tracking</h6>
                                <p class="number4-sub1">Doc Intact deeply understands the use.Utilizing heat maps you
                                    get real time analysis on the time spent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="security" class="security security-bg">
    <div class="container">
        <div class="row headfont">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6 security-tpad">
                <div>
                    <h5 class="background fw-5 mb-0">Double Down On Security</h5>
                    <hr class="hr3 col-lg-8">
                </div>

                <h6>The security your business deserves</h6>

                <div>
                    <p class="home-txt fw-3 white-colr">Protecting your data is our utmost priority. Therefore, Double down security layers are built to give you the confidence that your data is protected and accessed only by the parties that you authorize. Supported with a password, facial recognition, audit trail tracking, end-to-end encryption the document is highly secured.</p>
                </div>
                <div class="theme-2">
                    <button class="read-more-but btn btn-lg" routerLink="/features">Read more</button>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6 text-center d-show">
                <img src="assets/img/img13.svg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

<!-- ====================================ends================================ -->

<!-- <section class="our-customers" #testimonials>

    <div class="container">

        <div class="headfont">
            <h5 class="col-66">Our Happy Customers</h5>
            <div class="underline-tag pt-1">
                <p class="hr"></p>
            </div>
        </div>

        <div class="owl-carousel nunito-font">
            <div class="item owl-item1 se-tp">
                <img src="assets/images/L-client.png" class="imgcss1">
                <div class="head">
                    <div class="innertxt">
                        <h6 class="fon-16 m-0 pt-8 fw-5">Williams</h6>
                        <p class="pcss col010 fon-14 pt-m8">Founder Of Social Media Examinar</p>
                    </div>
                </div>
                <div class="bgclr">
                  
                    <span class="fw-3"> I don't write many reviews, but I had to for this one. I just got hired for a new job and not only signed, but filled out all of my forms through Doc Intact! 
                        It even prepared my documents and allowed me to email them to my HR dept. straight out of the app. You may not use it often, but when you do you truly appreciate it.</span>
                </div>
            </div>
            <div class="item owl-item1 se-tp">
                <img src="assets/images/L-client.png" class="imgcss1">
                <div class="head">
                    <div class="innertxt">
                        <h6 class="fon-16 m-0 pt-8 fw-5">Antonio</h6>
                        <p class="pcss col010 fon-14 pt-m8">Founder Of Social Media Examinar</p>
                    </div>
                </div>
                <div class="bgclr">
                 
                    <span class="fw-3"> Excellent method of signing documents! :-)</span>
                </div>
            </div>
            <div class="item owl-item1 se-tp">
                <img src="assets/images/L-client.png" class="imgcss1">
                <div class="head">
                    <div class="innertxt">
                        <h6 class="fon-16 m-0 pt-8 fw-5">Mitchel</h6>
                        <p class="pcss col010 fon-14 pt-m8">Founder Of Social Media Examinar</p>
                    </div>
                </div>
                <div class="bgclr">
                    
                    <span class="fw-3"> Easy to use and its great. Saved me a ton of time and Hassle. Saved me a ton of money on printing too. 
                        I had to get some important paperwork signed and emailed asap and I found this app. So easy to set up. Super awesome.</span>
                </div>
            </div>
            <div class="item owl-item1 se-tp">
                <img src="assets/images/L-client.png" class="imgcss1">
                <div class="head">
                    <div class="innertxt">
                        <h6 class="fon-16 m-0 pt-8 fw-5">Angelina Rosy</h6>
                        <p class="pcss col010 fon-14 pt-m8">Founder Of Social Media Examinar</p>
                    </div>
                </div>
                <div class="bgclr">
                    
                    <span class="fw-3"> As a contracted employee, this makes signing time and expenses forms a snap! 
                        Now can do all from my phone while waiting on my next flight or between client visits, etc</span>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="our-clients bg-fff1">
    <div class="container homefont">
        <div>
            <div class="subtitle fancy text-center"><span>Our Client's</span>
                <hr style="width:3%;border:1px solid #4CA2D1;" class="mt-4">
            </div>

            <div id="carouselExampleIndicators1" class="carousel slide mt-5" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row cen-dialog">
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 15.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 16.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 17.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 18.png" width="100%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="row cen-dialog">
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 15.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 16.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 17.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 18.png" width="100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row cen-dialog">
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 15.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 16.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 17.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 18.png" width="100%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row cen-dialog">
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 15.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 16.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 17.png" width="100%"></div>
                            </div>
                            <div class="col-3">
                                <div class="logo-box-border"><img src="assets/images/Image 18.png" width="100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators setol">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active">
                        <a href="#" class="dot-in"></a>
                    </li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1">
                        <a href="#" class="dot-in"></a>
                    </li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="2">
                        <a href="#" class="dot-in"></a>
                    </li>

                    <li data-target="#carouselExampleIndicators1" data-slide-to="3">
                        <a href="#" class="dot-in"></a>
                    </li>
                </ol>
                <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>


            </div>
        </div>
    </div>
</section> -->