h4 {
    font-size: 21px;
    color: #4CA2D1;
    font-weight: 500;
}

p {
    font-weight: 500;
    font-family: 'OrkneyRegular' !important;
    text-align: justify;
}

ul li {
    font-weight: 500;
    font-family: 'OrkneyRegular' !important;
    text-align: justify;
}