<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2 col-md-12 col-sm-12" style="margin-top:130px;">
        <div class="mb-5">
          <h4> What Type of documents that are supported?</h4>
          <p> Doc Intact Supports .doc, .docx, .pdf formats</p>
        </div>
        <div class="mb-5">
          <h4>How Facial Authentication Works?</h4>
          <ul>
            <li>Taking liveness by eye blink</li>
            <li>It expires in 120 seconds</li>
            <li>Without face authentication, the user cannot process further</li>
            <li>If it is failed, the application displays the Retry / Authenticate button</li>
          </ul>
        </div>
        <div class="mb-5">
          <h4>What is Doc Intact?</h4>
          <p>Doc Intact is the most unique and secure platform to upload, view, sign and share your
            documents.</p>
        </div>
        <div class="mb-5">
          <h4>How can I track my documents?</h4>
          <p> Doc Intact provides tracking the documents. The user will get a notification via mail. You
            can also track in our Activity Log. </p>
        </div>
        <div class="mb-5">
          <h4>Is the electronic sign Legal?</h4>
          <p> Yes, electronic signatures are legally authoritative in the United States. There are two Acts
            that set up this legality of electronic signatures – the U.S. Electronic Signatures in Global and
            National Commerce Act (ESIGN, 2000 ) and the Uniform Electronic Transactions Act (UETA, 1999
            ). Both ESIGN and UETA set up that electronic records and signatures convey a similar weight
            and legal impact as customary paper archives and written by hand signatures.
          </p>
        </div>
        <div class="mb-5">
          <h4>Why do customers choose Doc Intact?</h4>
          <p> customers choose Doc Intact for its unique features, platform, security, and User Interface.
          </p>
        </div>
        <div class="mb-5">
          <h4>How do I get Started?</h4>
          <p> Sign up with your Google or any social media account to use Doc Intact seamlessly</p>
        </div>
        <div class="mb-5">
          <h4>Can my digital sign can be Forged?</h4>
          <p>Not likely. It is protected by several layers of highly complex encryption. With digital
            signatures, forgery is next to impossible – much more difficult than forging a handwritten
            signature. First, a digital signature is more of a process than just affixing a signature. For example,
            when the document is "digitally signed," the digital software scans the document and creates a
            calculation which represents the document. This calculation becomes part of the "digital
            signature." When the recipient authenticates the signature, a similar process is carried out. The
            sender's and the receiver's calculations are then compared. If the results are the same, the
            signature is valid; if they are different, the signature is not valid.</p>
        </div>
        <div class="mb-5">
          <h4>What if the recipient did not sign or if the recipient is inactive?</h4>
          <p>You can send a notification to the recipient or you can also cancel the sharing request which
            will be permanently deleted to the recipient.</p>
        </div>
        <div class="mb-5">
          <h4> Doc Intact Supports the following browser’s:</h4>
          <ul>
            <li>Google Chrome</li>
            <li>FireFox</li>
            <li>Internet Explorer</li>
            <li>Micro Soft Edge </li>
            <li>Safari</li>
          </ul>
        </div>
        <div class="mb-5">
          <h4>Can I upload documents into Doc Intact from my Cloud Storage account?</h4>
          <p>You can upload documents from your computer or online from cloud storage providers
            Dropbox, One Drive, and Google Drive</p>
        </div>
        <div class="mb-5">
          <h4>Can I save my signature to use again in the future?</h4>
          <p> Yes, you can save your signature using the Manage Identity feature. You can also edit your
            signature at any time.</p>
        </div>
        <div class="mb-5">
          <h4>How do I know that my sensitive documents are not going to fall into the wrong hands?</h4>
          <p>we ensure your sensitive data is protected. Your data is armed with 256-Bit encryption
            which is the most secure protocol.</p>
        </div>
        <div class="mb-5">
          <h4>Some of the recipients I will be sending documents to aren’t very technically savvy. Will
            this matter?
          </h4>
          <p> The incredible thing about Doc Intact is that you don't should be. On the off chance that if
            you can use email, using Doc Intact will be a breeze.</p>
        </div>
        <div class="mb-5">
          <h4>Can I create a custom signature?
          </h4>
          <p> Yes. There are several options for adding a signature to your Doc Intact account.</p>
        </div>
        <div class="mb-5">
          <h4>How to set the password when the user signs up with social accounts?
          </h4>
          <p> The user should set the password through the forgot password link.</p>
        </div>

      </div>
    </div>
  </div>
</section>