<br>
<div class="row">
    <div class="col-lg-10">
        <div>
            <p>Filter by</p>
        </div>
        <div>
            <form #searchForm="ngForm">

                <div class="row">

                    <div class="col-lg-2 col-sm-12 col-xs-12 col-md-2">
                        <mat-form-field style="display: block">
                            <mat-label>Status</mat-label>
                            <mat-select disableRipple name="active" [(ngModel)]="active">
                                <mat-option value=true>Active</mat-option>
                                <mat-option value=false>Block</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-2 col-sm-12 col-xs-12 col-md-2">
                        <mat-form-field style="display: block">
                            <mat-label>Type</mat-label>
                            <mat-select disableRipple name="type" [(ngModel)]="type">
                                <mat-option value="organization">Organization</mat-option>
                                <mat-option value="individual">Individual</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class=" col-lg-2 col-sm-12 col-xs-12 col-md-2">
                        <mat-form-field class="wid-100">
                            <input matInput name="fromdate" [(ngModel)]="fromdate" [matDatepicker]="picker"
                                placeholder="Choose from date" color="accent" [max]=today>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class=" col-lg-2 col-sm-12 col-xs-12 col-md-2">
                        <mat-form-field class="wid-100">
                            <input matInput name="todate" [(ngModel)]="todate" [matDatepicker]="picker1"
                                placeholder="Choose to date" color="accent" [max]=today>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 pad-t-10">

                        <span> <button class="btn  btn btn-primary button_border view-but"
                                (click)="filterdate(searchForm)">Filter</button></span>
                        <span> <button class="btn  btn btn-danger button_border"
                                (click)="cancel(searchForm)">Reset</button></span>

                    </div>

                </div>

                <div class="flx">
                    <span class="search-rit-pad">Search by </span>
                    <span>

                        <input type="search" placeholder="Search" [(ngModel)]="search" name="search" autocomplete="off"
                            (keyup)="searchBackend(searchForm)">

                    </span>
                </div>


            </form>
        </div>

        <div class="table-responsive">
            <table class="table table_space table-fixed txt-ellip centeralign">
                <thead class="thcolor" *ngIf="Allusers">
                    <tr>
                        <th class="tab-tb-pad tblwdth">Name
                            <i class="fa fa-caret-up pl-point caret-up-pos" aria-hidden="true"
                                (click)="sortNameAsc();uparrow=true;dateSort=false;nameSort=true;emailSort=false"
                                [ngClass]="{'caret-up-pos-active' :uparrow && nameSort }"></i>
                            <i class="fa fa-caret-down caret-down-pos pl-point" aria-hidden="true"
                                (click)="sortNameDsc();uparrow=false;dateSort=false;nameSort=true;emailSort=false"
                                [ngClass]="{'caret-down-pos-active' :  !uparrow && nameSort}"></i>
                        </th>

                        <th class="tab-tb-pad tblwdth">Email
                            <i class="fa fa-caret-up pl-point caret-up-pos" aria-hidden="true"
                                (click)="sortEmailAsc();emailuparrow=true;dateSort=false;nameSort=false;emailSort=true"
                                [ngClass]="{'caret-up-pos-active' :emailuparrow && emailSort }"></i>
                            <i class="fa fa-caret-down caret-down-pos pl-point" aria-hidden="true"
                                (click)="sortEmailDsc();emailuparrow=false;dateSort=false;nameSort=false;emailSort=true"
                                [ngClass]="{'caret-down-pos-active' :  !emailuparrow && emailSort}"></i>
                        </th>

                        <th class="tab-tb-pad tblwdth">Type
                            <i class="fa fa-caret-up pl-point caret-up-pos" aria-hidden="true"
                                (click)="sortTypeAsc();dateuparrow=true;dateSort=true;nameSort=false;emailSort=false"
                                [ngClass]="{'caret-up-pos-active' :dateuparrow && dateSort }"></i>
                            <i class="fa fa-caret-down caret-down-pos pl-point" aria-hidden="true"
                                (click)="sortTypeDsc();dateuparrow=false;dateSort=true;nameSort=false;emailSort=false"
                                [ngClass]="{'caret-down-pos-active' : !dateuparrow && dateSort}"></i>
                        </th>

                        <th scope="col" class="tab-tb-pad tblwdth">Status</th>

                        <th scope="col" class="tab-tb-pad tblwdth">View</th>

                    </tr>

                </thead>
                <tbody class="tdatacol headfont fon-14 fw-4">

                    <tr *ngIf="Allusers && Allusers.length==0">No Data Available</tr>
                    <tr class="showbutton" *ngFor="let element of Allusers">

                        <td class="tabb-tb-pad">
                            <p class="mar" *ngIf="element.name">{{element.name}} </p>
                            <p class="mar" *ngIf="!element.name && element.type=='individual'">{{element.fname}} </p>
                            <p class="mar" *ngIf="!element.name && element.companyname && element.type=='organisation'">
                                {{element.companyname}} </p>
                        </td>

                        <td class="tabb-tb-pad ">
                            <p class="mar">{{element.email}}</p>
                        </td>

                        <td class="tabb-tb-pad ">
                            <p class="mar">{{element.type | titlecase}}</p>
                        </td>

                        <td class="tabb-tb-pad ">
                            <button type="button" *ngIf='element.status' (click)="userStatusUpdate(element,false)"
                                class="mar block-but">Block</button>
                            <button type="button" *ngIf='!element.status' (click)="userStatusUpdate(element,true)"
                                class="mar block-but">Un Block</button>
                        </td>

                        <td class="tabb-tb-pad ">
                            <button class="btn  btn-sm sh-none hide-bgbt view-but"
                                [routerLink]="['/adminnavbar/userdetails',{user:element._id}]">View</button>
                        </td>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>