<section class="featuresbg">
  <div class="container cont-pad m0bcont">
    <div class="text-center">
      <h6 class="fon-48 white-colr">Online Document Sharing is Simple Now
        <br>
        With Doc Intact</h6>
    </div>
    <div class="text-center">
      <p class="fon-18 white-colr">
        Doc Intact is the most unique and secure platform to upload, view, sign and share your
        documents.
      </p>
    </div>
    <div class="text-center">
      <button class="start-file-share-but m0bbutn" (click)="startbtn()">
        Start File Sharing For Free
      </button>
    </div>
  </div>
</section>

<section class="insertsbg">
  <div class="container lap-top-pad">
    <div class="text-center">
      <h6 class="fon-22 paragraph-head">Insert Fields in PDF Using Powerful Tools</h6>
    </div>
    <div class="text-center">
      <p class="insert-text-field"> DocIntact's powerful tools were created to cater the business clients, information
        specialists and experts needs. In order to support the PDF working procedures, each element, fields and user
        interaction are enhanced within a few clicks.</p>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
        <div class="flx pad-t-1">
          <div>
            <div>
              <p class="sign-fields">
                Signature Fields
              </p>
            </div>
            <div>
              <p class="sign-under-fields"><img src="assets/images/label.png" class="icons-cs">Label</p>
              <p class="sign-under-fields"><img src="assets/images/textbox.png" class="icons-cs">Text Box</p>
              <p class="sign-under-fields"><img src="assets/images/initial.png" class="icons-cs">Initial</p>
              <p class="sign-under-fields"><img src="assets/images/signature.png" class="icons-cs">Signature</p>
            </div>
          </div>
          <div class="pad-t-3">
            <div>
              <p class="sign-fields">
                Text Fields
              </p>
            </div>
            <div>
              <p class="sign-under-fields"><img src="assets/images/name.png" class="icons-cs">Name</p>
              <p class="sign-under-fields"><img src="assets/images/email-img.png" class="icons-cs">Email</p>
              <p class="sign-under-fields"><img src="assets/images/dropdown-img.png" class="icons-cs">Drop Down</p>
              <p class="sign-under-fields"><img src="assets/images/radiobutton.png" class="icons-cs">Radio Button</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 pad-for-i">
        <img src="assets/images/laptop-img.png" class="wid-100 img-responsive">
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
        <div class="flx pad-t-1">
          <div>
            <div>
              <p class="sign-fields">
                Signer Info Fields
              </p>
            </div>
            <div>
              <p class="sign-under-fields"><img src="assets/images/mobile-img.png" class="icons-cs">Mobile
                Number</p>
              <p class="sign-under-fields"><img src="assets/images/company.png" class="icons-cs">Company</p>
              <p class="sign-under-fields"><img src="assets/images/photo.png" class="icons-cs">Photo</p>
            </div>
          </div>
          <div class="pad-t-3">
            <div>
              <p class="sign-fields">
                Data Fields
              </p>
            </div>
            <div>
              <p class="sign-under-fields"><img src="assets/images/date.png" class="icons-cs">Date</p>
              <p class="sign-under-fields"><img src="assets/images/stamp.png" class="icons-cs">Stamp</p>
              <p class="sign-under-fields"><img src="assets/images/checkbox.png" class="icons-cs">Check Box</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="keep-data-bg">
  <div class="container keep-data-cont-pad">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 keep-data-para">
        <div class="">
          <p class="fon-22 white-colr">Keep Your Data High Secure</p>
        </div>
        <div class="">
          <p class="fon-18 white-colr text-justify">Paper contracts and documents leave abundant trails behind.
            Through Doc Intact, you can maintain the privacy of your documents, as it is invulnerable to
            break-ins as it comes with high-end security encryptions.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-right">
        <div>
          <img src="assets/images/doc-lock.png" class="img-responsive wid-100">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sync-files-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-lg-5 col-md-12 col-xs-12 co-sm-12">
            <div class="pad-tb-16">
              <mat-card class="box-sh">
                <div class="text-center">
                  <img src="assets/images/drive-img.png" class="img-responsive ">
                </div>
                <div class="text-center">
                  <p class="goog-driv drive-ptag-pad">
                    Google Drive
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="pad-tb-16">
              <mat-card class="box-sh">
                <div class="text-center">
                  <img src="assets/images/dropbox-img.png" class="img-responsive ">
                </div>
                <div class="text-center">
                  <p class="goog-driv drive-ptag-pad">
                    Drop Box
                  </p>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12 co-sm-12 onedrive-pos padd1ing">
            <mat-card class="box-sh">
              <div class="text-center">
                <img src="assets/images/onedrive-img.png" class="img-responsive ">
              </div>
              <div class="text-center">
                <p class="goog-driv drive-ptag-pad">One Drive</p>
              </div>
            </mat-card>
          </div>
          <div class="col-lg-2 col-md-12 col-xs-12 co-sm-12">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 pad-t-8">
        <div>
          <p class="syn-head">Sync Files & Documents
            with your Favorite Apps.</p>
        </div>
        <div>
          <p class="sync-file-text text-justify"> Doc Intact enables the user to sync the
            information or the files with Google Drive, DropBox, and OneDrive apps, where the user can
            share/use the information anywhere in just a few clicks. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-doc-bg">
  <div class="container">
    <div class="text-center">
      <h6 class="why-doc">Why Doc Intact</h6>
    </div>
    <div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="access-files">
              <img src="assets/images/Group9424.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              Access Files<br>
              Anywhere
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="endtoend">
              <img src="assets/images/Group9427.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              End to End<br>
              Encryption
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="easyfiles">
              <img src="assets/images/Group9429.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              Easy File<br>
              Management
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="realible">
              <img src="assets/images/Group9392.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              Reliable & Fast<br>
              Sharing
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="fileversion">
              <img src="assets/images/Group9434.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              File Versions &<br>
              Template Making
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="aln-cen">
            <div class="unlimited">
              <img src="assets/images/Group9437.png">
            </div>
          </div>
          <div class="text-center">
            <p class="fon-18 blk-clr">
              Unlimited Doc's Uploads &<br>
              Unlimited Sharing
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-doc-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div>
          <h6 class="fon-22 white-colr">Get Doc Intact App</h6>
        </div>
        <div class="pad-t-1e">
          <p class="white-colr"> Is now Available in Android and iOS platforms. </p>
          <ul class="white-colr">
            <li>Android </li>
            <li>iOS</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
        <div>
          <img src="assets/images/Group9510.png">
        </div>
        <div class="pad-t-1e">
          <img src="assets/images/Group9504.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-bg">
  <div class="container">
    <div class="text-center">
      <h6 class="syn-head">Our Innovative Features</h6>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
        <div>
          <mat-card class="card-mrg unlimted-uploads-pad box-sh">
            <div class="text-center">
              <img src="assets/images/Group2067.png">
            </div>
            <div class="text-center">
              <p class="unlim fon-18">Unlimited Uploads</p>
            </div>
            <div>
              <p class="subtext text-justify">Documents can be securely uploaded using the single sign-on integration,
                by pasting the URL, choosing a normal or zip file/folder.</p>
            </div>
          </mat-card>
        </div>
        <div class="pad-t-7 padd11ng">
          <mat-card class="card-mrg box-sh">
            <div class="text-center">
              <img src="assets/images/Group2075.png">
            </div>
            <div class="text-center">
              <p class="doc-acc fon-18">Document Access From
                Any Where</p>
            </div>
            <div>
              <p class="subtext text-justify">Documents can be accessed from anywhere and the user to add their
                photograph and signature.</p>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
        <div class="pad-t15 padd11ng">
          <mat-card class="card-mrg box-sh">
            <div class="text-center">
              <img src="assets/images/Group2072.png">
            </div>
            <div class="text-center">
              <p class="share-doc fon-18">Share Documents With High
                Secure</p>
            </div>
            <div>
              <p class="subtext text-justify">Documents are end-to-end encrypted and shareable via email with
                geographical location restriction.</p>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12">
        <div class="padd11ng">
          <mat-card class="card-mrg unlimted-uploads-pad box-sh">
            <div class="text-center">
              <img src="assets/images/Group2073.png">
            </div>
            <div class="text-center">
              <p class="share-revok fon-18">Share & Revoke</p>
            </div>
            <div>
              <p class="subtext text-justify">You can customise and assign the required and optional fields to the
                recipient by crafting the following: date, photograph, watermark etc.</p>
            </div>
          </mat-card>
        </div>
        <div class="pad-t-7 padd11ng">
          <mat-card class="card-mrg unlimted-uploads-pad box-sh">
            <div class="text-center">
              <img src="assets/images/Group2074.png">
            </div>
            <div class="text-center">
              <p class="eye-tr fon-18">Eye Tracking</p>
            </div>
            <div>
              <p class="subtext text-justify">Doc Intact deeply understands the use.Utilizing heat maps you get real
                time analysis on the time spent.</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container ">
    <mat-card class="best-secure-bg">
      <div class="row pad-tb-5">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pad-l-5">
          <div>
            <h6 class="fon-22 white-colr">The Best Secure Way to Share Your Files For Business Purpose.</h6>
          </div>
          <div>
            <p class="white-colr">Doc Intact gives you
              complete control over customizing and sharing your document.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
          <div>
            <button class="try-now" (click)="startbtn()">Try Now</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>