<section class="aboutus-bg">
  <div class="container pad-tb-5rem">
    <div class="text-center ">
      <p class="fon-48 white-colr">About Us</p>
    </div>
    <div class="text-center">
      <p class="fon-22 white-colr white-color-data">DocIntact is an online PDF editor and document signing platform.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row pad-tb-2rem flex-row-reverse">
      <div class="col-lg-6 col-md-6 col-sm-12 ol-xs-12">
        <div>
          <img src="assets/images/aboutus-2.png" class="img-responsive wid-100">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 ol-xs-12 about-content">
        <div>
          <p class="aboutus-line bor-bot">About Us</p>
        </div>
        <div>
          <p class="aboutus-para">Cognitive Innovations is a global technology company that focuses on Artificial
            Intelligence, Blockchain, Machine Learning, Cryptocurrency, the Internet of Things, E-Wallet, Supply Chain
            Management, Port Logistics and Energy.
            Our in-house experts relentlessly strive to deliver world-class modern technology solutions that have the
            potential to redefine the way companies do business.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row pad-tb-2rem">
      <div class="col-lg-6 col-md-6 col-sm-12 ol-xs-12">
        <div>
          <img src="assets/images/aboutus-3.png" class="img-responsive wid-100">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 ol-xs-12 about-content">
        <div>
          <p class="aboutus-line bor-bot">Our Mission</p>
        </div>
        <div>
          <p class="aboutus-para">Doc Intact vision is to maintain your privacy and secure your transactions with the
            highest security standards. Doc Intact goal is to entrust companies to keep business digital. With a
            platform as secure as Doc Intact, signing documents comes at ease. Your documents easily travel to their
            destination assuring data integrity and overall trust.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="freetrail-bg">
  <div class="container ">
    <div class="text-center pad-t-4rem">
      <p class="white-colr fon-28">The Best way to share your files for your Business
        <br>Purpose</p>
    </div>
    <div class="row pad-tb-2rem">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <div class="input-group mb-3 about-start-trailmail">
          <div class="input-group-append">
            <button (click)="freetrail()" class="input-group-text strat-free-trail-but pl-point btn-lg pad-lr-2rem"
              type="submit"><img class="strat-free-trail-inpt-gap rem-sh" src="assets/images/Group2041.png" cl>Start
              Your Account</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div>
      <div class="text-center pad-tb-2rem">
        <p class="aboutus-line">Frequently asked Questions</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">1</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg"> What is Doc Intact?</p>
              <p>Doc Intact is the most unique and secure platform to upload, view, sign and share your
                documents.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">2</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg">What Type of documents that are supported?</p>
              <p>Doc Intact Supports .doc, .docx, .pdf formats.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">3</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg">How Facial Authentication Works?</p>
              <ul>
                <li>Taking liveness by eye blink</li>
                <li>It expires in 120 seconds</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 faq-content">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">4</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg">How can I track my documents?</p>
              <p>Doc Intact provides tracking the documents. The user will get a notification via mail. You
                can also track in our Activity Log.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 faq-content">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">5</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg"> Why do customers choose Doc Intact?</p>
              <p> customers choose Doc Intact for its unique features, platform, security, and User Interface.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 faq-content">
          <div class="flx">
            <div class="num-pad">
              <p class="num-bg">6</p>
            </div>
            <div class="para-pad">
              <p class="fon-18 fon-med zero-marg"> How do I get Started?</p>
              <p> Sign up with your Google or any social media account to use Doc Intact seamlessly.</p>
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-c7="" class="row">
        <div _ngcontent-c7="" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 pt-3">
          <button _ngcontent-c7="" class="read-more-but btn btn-lg" routerLink="/faq" tabindex="0"
            ng-reflect-router-link="/faq">Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>