
/* MY CSS */
tbody tr.only-show-on-hover {
  visibility: hidden;
}
tbody:hover tr.only-show-on-hover  {
  visibility: visible;
}

.form_width{
    width:170%;
  }
  @media (min-width: 768px){
  .top_nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1031;
  }
  }
  
  @media (max-width: 768px){
  .none-ml{
    margin-left: unset !important;
  }
  .form_width{
    width:100% !important;
   
  }
  }
  @media (min-width: 700px){
  .side {
      /* position: -webkit-sticky;
      position: sticky; */
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
      position: fixed;
    bottom: 0;
    bottom: 0;
    width: 17%;
    padding:0px;
    text-align:center;
    /* flex-flow: column nowrap; */
    /* align-items: flex-start; */

}
  }
  
  
  
  .i_col{
    color:#707070 !important;
  }
  
  .side_nav_col{
    color:white !important;
    text-align: center;
  }
  .side_bg{
    background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
   /* align-items: start; */
   
  }
  
  .p-10-0{
    padding:12px 0 0 0;
  }
  .thcolor{
      color:#444444;
      background-color: #e9ecef;
      border-color: #dee2e6;
  }

  .tdatacol{
      color:#151F26;
     
      background-color: white;
  }
  .bgcolor{
      background-color: #FAFAFA;
  }


  .i_place i{
    background-color: #427DAB;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding:10px;
    color: white;
}
  


  .showbutton{
    cursor: pointer;
  }
  .showbutton:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }
.hidebutton{
  visibility: hidden;
  
}
    .showbutton:hover .hidebutton{
    
      visibility: visible;
    
     
    }
   
    .table_td_pad{
      padding:30px;
    }

    .ic_ml{
      margin-left:30%;
    }

      
@media (max-width: 600px){
  .ic_ml{
    margin-left:unset;
  }

  }

 .bg_none .active{
   background-color:white !important;
  
  }
  .link_col .nav-link{
    color:#356890 !important;
  }















  .fx-dir
{
  flex-direction: column !important
}

.side-nv
{
  position: fixed;
  width:16.5%;
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
}
.side-links
{
  color:#fff;
  text-align: center;font-size: 19px;font-weight: 500
}
/* .wid-296
{
  width: 316px
} */
.wid-100
{
  width: 100%;
}
.side-links:hover
{
  background: #fff;
  color: #39709A;
}
.search-ip
{
  padding: 22px 296px 22px 48px;
}
.jus-cen
{
  justify-content: center
}
.form-control-feedback
{
  position: absolute;
  padding: 10px;
  color: #C5C3C3;
  font: 600
}
.nv-bg
{
  background: #fff;
  box-shadow: none
}
.b0dy-bg
{
  background: #FAFAFA
}
.mar-t-35
{
  margin: 35px 0 0 0 ;
}
.wid-80
{
  width: 80%
}
.quick-acess-but
{
  /* padding: 10px 30px; */
  
  border: 1px solid #EBEBEB;
  border-radius: 24px 0 24px 0;
  background: #fff;
  outline: none;
}
.list-tags
{
  position: absolute ; 
    top: 24% ;
}
.pad-lr-100
{
  padding: 0 100px
}
.mar-t-50
{
  margin: 50px 0 0 0;
}
.pad-t-30
{
  padding: 30px 0 0 0;
}
.labl-fon
{
 color:#8E8E8E;
 font-size: 12px;
}
.just-now
{
  font-size: 13px;
  color: black;
}
.point
{
  cursor: pointer;
}
.disp-blk
{
  display: block;
  border: none
}
.welcome-fon
{
  font-size: 36px;
  color:#fff;
  font-weight: 500
}
.modl-bg
{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
}
.mdl-para
{
  color: #A6BEC7
}
.upload-but
{
  background: #EA5455;
  color: #fff;
  font-size: 26px;
  border: none;
  padding: 10px 30px;

}

/* .drag-boarder
{
  border: 2px solid #6A89CC;
  border-style: dashed;
} */






.add-doc{
  color: #6A89CC;
  cursor: pointer;
}

.add-doc:hover{
  text-decoration: underline;
}

#file_input_id{
  display:none;
}
.pad-tb-50
{
    padding: 50px 0;
}


.vr {
  width: 1px;
  background-color: #000;
  position: absolute;
  top: 52px;
  bottom: 0;
  /* padding: 0 0; */
  /* left: 150px; */
  height: 242px;
}
.fon-24
{
  font-size: 24px;
  color: #000000;
}
.socil-but
{
  background: #fff;
  border: 1px solid #707070;
  /* padding: 0 11px; */
  width: 126px;
  height: 38px;;
  margin: 0 16px;
  border-radius: 4px;
}




.rad-but
{
width:23px;
height: 23px;
margin: 0 10px
}
.rad-but-text-gap
{
  position: relative;
    top: -7px;
}

.feld-box-radus
{
  border-radius: 4px !important;
  border: 1px solid #E3E3E3;

}
.to-pad
{
  padding: 7px 20px 0 0;
}
.add-fiel
{
  padding: 14px 45px;
}
.tex-lef
{
  text-align: left;
}
.check-pad
{
  width: 16px;
    height: 16px;
}
.pad-bs-30
{
  padding: 0 30px;
}
.continue-but
{
  border:1px solid #E3E3E3;
  background: #fff;
  box-shadow: none;
}


.row .active{
  /* background-color:rgb(139, 208, 248) !important; */
  color:#356890 !important;
 
 }


  







/* MY CSS */

.form_width{
  width:170%;
}



/* TABLE CSS */
.pt-18{
  padding-top: 18px !important;
}



    
@media (max-width: 600px){
.ic_ml{
  margin-left:unset;
}

}

.bg_none .active{
 background-color:white !important;

}
.link_col .nav-link{
  color:#356890 !important;
}


/* NOTIFICATION CSS */

.mwi-drop{
  min-width: 23rem !important;
}


  
@media (max-width: 468px){
 
  .mwi-drop
  {
   min-width: 15rem !important;
  }

 
}









.fx-dir
{
  flex-direction: column !important
}

.side-nv
{
  position: fixed;
  width:16.5%;
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
}
.side-links
{
  color:#fff;
  text-align: center;font-size: 19px;font-weight: 500
}
/* .wid-296
{
  width: 316px
} */
.wid-100
{
  width: 100%;
}
.side-links:hover
{
  background: #fff;
  color: #39709A;
}
.search-ip
{
  padding: 22px 296px 22px 48px;
}
.jus-cen
{
  justify-content: center
}
.form-control-feedback
{
  position: absolute;
  padding: 10px;
  color: #C5C3C3;
  font: 600
}
.nv-bg
{
  background: #fff;
  box-shadow: none
}
.b0dy-bg
{
  background: #FAFAFA
}
.mar-t-35
{
  margin: 35px 0 0 0 ;
}
.wid-80
{
  width: 80%
}

.list-tags
{
  position: absolute ; 
    top: 24% ;
}
.pad-lr-100
{
  padding: 0 100px
}
.mar-t-50
{
  margin: 50px 0 0 0;
}
.pad-t-30
{
  padding: 30px 0 0 0;
}
.labl-fon
{
 color:#8E8E8E;
 font-size: 12px;
}
.just-now
{
  font-size: 13px;
  color: black;
}
.point
{
  cursor: pointer;
}
.disp-blk
{
  display: block;
  border: none
}
.welcome-fon
{
  font-size: 36px;
  color:#fff;
  font-weight: 500
}
.modl-bg
{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
}
.mdl-para
{
  color: #A6BEC7
}
.upload-but
{
  background: #EA5455;
  color: #fff;
  font-size: 26px;
  border: none;
  padding: 10px 30px;

}


.note_bg{
  background-color: #FAFAFA;
}



.add-doc{
  color: #6A89CC;
  cursor: pointer;
}

.add-doc:hover{
  text-decoration: underline;
}

#file_input_id{
  display:none;
}
.pad-tb-50
{
    padding: 50px 0;
}


.vr {
  width: 1px;
  background-color: #000;
  position: absolute;
  top: 52px;
  bottom: 0;
  /* padding: 0 0; */
  /* left: 150px; */
  height: 242px;
}
/* .fon-24
{
  font-size: 24px;
  color: #000000;
} */
.socil-but
{
  background: #fff;
  border: 1px solid #707070;
  /* padding: 0 11px; */
  width: 126px;
  height: 38px;;
  margin: 0 16px;
  border-radius: 4px;
}





/* .inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
} */



/* MY NAV CSS */

.form_width{
  width:170%;
}

.form_width{
  width:170%;
}

 
.mwi-drop{
  min-width: 23rem !important;
}


  
@media (max-width: 468px){
 
  .mwi-drop
  {
   min-width: 15rem !important;
  }

 
}



 /* .dropdown-menu .bottom :before{

  left: 45% !important;
  top: -20px !important;
  border-bottom: 10px solid #444 !important;

} */
/* .dropdown-menu ::before {

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #eee;
  bottom: -20px;
  content: '';
  left: 50%;
  margin-left: -20px;
  position: absolute;

}  */






/* <sharedpopup> */


.closecss{
  background-color: #010002 !important;
    border-radius: 50px !important;
    
    padding: 0px 5px !important;
    position: relative !important;
    top: 10px;
}
.iconcss{
  color: #fff !important;
  font-size: 18px !important;
  font-weight: normal !important;
  vertical-align: middle !important;
  text-align: center !important;
}
.close:not(:disabled):not(.disabled) {
  
  opacity: 1;
}
.active{
  color:#407BA8 !important;
 
}
.hrcss{
  border:1px solid #407BA8 !important;
  width: 60% !important;
  
  margin-left: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.txtcss{
  font-weight:600 !important;
}
.modalcss{
  left: 6% !important;
  position: relative !important;
  padding-left: 70px !important;
  padding-right: 70px !important;
  padding-top: 20px !important;
}
@media(max-width:800px){
  .hrcss{
    
    width: 37% !important;
    margin-left: 0px !important;
  

  }

  .mediacss{
    padding: 10px !important;
  }
  
}
.txt1css{
  color: #000 !important;
  font-weight: 600 !important;
}
.btncss1{
  color:#000;
  border-radius: 5px;
  border: 1px solid #222;
  box-shadow: inherit;
  text-transform: inherit;
  font-weight: 600;
  padding: 7px 22px;
}
@media(max-width:1000px){
  .cmpltdivcs{
    top:0px !important
  }
}





.welcome-fon
{
  font-size: 36px;
  color:#fff;
  font-weight: 500
}
.modl-bg
{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
}
.mdl-para
{
  color: #A6BEC7
}
.upload-but
{
  background: #EA5455;
  color: #fff;
  font-size: 26px;
  border: none;
  padding: 10px 30px;

}





.add-doc{
  color: #6A89CC;
  cursor: pointer;
}

.add-doc:hover{
  text-decoration: underline;
}

#file_input_id{
  display:none;
}
.pad-tb-50
{
    padding: 50px 0;
}


.vr {
  width: 1px;
  background-color: #ccc;
  position: absolute;
  top: 52px;
  bottom: 0;
  /* padding: 0 0; */
  /* left: 150px; */
  height: 242px;
}
.fon-24
{
  font-size: 24px;
  color: #000000;
}
.socil-but
{
  background: #fff;
  border: 1px solid #707070;
  /* padding: 0 11px; */
  width: 100%;
 
 
  border-radius: 4px;
}
.btncss{
  padding: 60px 15px !important;
}
.cmpltdivcs{
  position: relative !important;
  top: 30px !important;
}


/*  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 370px;
}
/* 
.drop-zone[_ngcontent-c6] {
  margin: auto!important;
  height: auto!important;
  border: 2px dashed #6A89CC !important;
  border-radius: 0!important;
}
.content[_ngcontent-c6] {

height: 100% !important;
} */



/* quick access 12 */
/* ==start== */
.quick-row1{
  padding: 16px 0px 0px 31px;
}

.folder-s{
  padding: 7px 0px 0px 0px !important;
}

.folder-s1 {
  padding: 10px 0px 0px 66px !important;
}
.txt-ellip1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}


@media (max-width:800px){
  .quick-acess-but{
    padding: .5rem 1.6rem;
    font-size: .64rem;
  }

  .arrow-txt{
    transform: translate3d(460px, 38px, 0px) !important;
  }
  
}
.bc-ic-tx{
  color:#878787;
}
.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
  content: none;
  padding: 0;
 }
  .bc-icons-2 .breadcrumb-item.active {
  color: #000 !important; }

/* lakshmi 19/04/2019 */


.foldrstruct {
  
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.8rem;
 
}
.txtwdth {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.noborder:hover {
  border: 0px solid #fff !important;
}
/* .txtwdth:hover {
  width: 100%;
  word-break: break-word;
  overflow: initial;
  white-space: pre-line;
} */
@media (min-width: 992px)
{
.colwdth{
    min-width: 20% !important;
}
}

/* .tblwdth {
  width: 30%;
} */
.imagecss {
  /* width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%; */
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 40px;
}
.pdf-icon-style{
  font-size: 80px;
      color: #E55039;
    }
.homclr{
  color: #878787 !important;
}
.txt-ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
}
/* .txt-ellip:hover {
 
  overflow: inherit;
  word-break: break-word;
  white-space: inherit;
} */
.cntraln td{
vertical-align: middle !important;
white-space: nowrap;
}
/* .foldrstruct:hover {
  border: 1px solid #2680EB !important;
} */
/* lakshmi 19/04/2019 end */



/* Quick access alignment CSS:Start */
.fntwgt{
  /* font-weight: normal; */
  font-size: 16px;
    color: 2d2326;
    color: #2d363c;
}

.link-quick112{
margin-top:-16px
}

/* Quick access alignment CSS:End */

.caret-down-pos
{
  position: relative;
  top: 10px;
  right: 9px;
  color:#989898;
  font-size: 20px;
}
.caret-up-pos
{
  position: relative;
  bottom: 1px;
  left: 3.5px;
  color:#989898;
  font-size: 20px;
}

.caret-up-pos-active
{
  color: #000000;
}
.caret-down-pos-active
{

  color:#000000;
}
table.table thead th {
  border-top: none;
  white-space: nowrap;
}

.loader1 {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* margin-left: -20px; */
  top: 50%;
  /* margin-top: -20px; */
  position: fixed;
  z-index: 19 !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.mod-head-bg
{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
  color:#fff;
  padding: 0.5rem 1rem;
}
.add-new-emp-pop
{
  font-size: 22px;
  display: flex;
  justify-content: center;
}
.pad-2rem
{
  padding: 2rem;
}

.new-temp-but
{
  background: none;
  border: none;
  color: #427EAC ;
  padding: 0.4rem 5rem;
}
.new-temp-but:hover{
  color:#fff;
}
.new-temp
{
  margin: 0;
  padding: 15px;
}


.or-pad
{
  margin: 0 !important;
  padding: 8px 0 0 0;
  color: #000000;
  font-weight: bold;

}
.new-temp-div-tag
{
  border: 1px solid #427EAC;
  border-radius: 4px;
  color:#427EAC;
}

.new-temp-div-tag:hover
{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
  color:#fff;
}
.new-temp:hover
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABHNCSVQICAgIfAhkiAAAAZlJREFUSIm9lrFOwlAUhv/ipgYhbmpMH6FvIG8gL6Cb4mAiDu4kjixEN6YOusiCTyAOhoQF3kDeAPQB+jmUIlTa3pbin3RpTu7X/5zTc48lAwFVSSeSHEn27JGkkaSppJ6kV8uyRibnxYHqwARzDYFKFpADfKYAhfUGlExh1ZSu4tw6JrA8NQHsKJhDPs7CGrIqvcB4A7BArTCsvkFYIHsROP0HoCtJBfyfes+ohSPU0bNuVUsKOw3ctdb57BeeKGNRRtxxnRReLcgfV5md1XQmCUlSMTlRjlF3fq0o8aKzMqLJvUlCGkqKGNDnmCIfvM/fdekswR5omsAAerHAb745Ypcy4oBtBvTp0mGfrSwwgK6AUVzEFefzww/ZWYK1eUwDg1lKe3ERHt4SdA3YHNhIivLwuOFiXRiAEwxtI9W5xKWdFTae/xwk1DEnNRaBlQ3DpoSvKBKaZ03V/8wcoMRmUutGDjr8BsrzqkpeGwGbfJxGO4tIr5sRNGVVzQzBdgrwGH+IxO6jVgp4Vb93Z0X+ih/UqGu65v8AtnGLKgiBkicAAAAASUVORK5CYII=');

  background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
}

.sav-but-in-new-temp {
  padding: 0.3rem 1.6rem;  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
  border: none;  border-radius: 4px;  color: #fff;  text-align: center; float: right !important;
}



.ok-but-new-temp-pop{
  background: linear-gradient(217deg, rgb(66,126,172), rgb(13,36,59));
    border: none;
    color: #fff;
    padding: 0.2rem 1.6rem;
    border-radius: 4px;
}
.temp-save-para
{
  color: #000000;
    font-weight: 400;
    padding: 0 20px;
}
.pad-10px
{
  padding: 10px;
}
.out-li-non
{
  outline: none;
}
.temp-sav-pad
{
  padding: 0 0 0 2rem;
}
.pad-1rm
{
  padding: 0.5rem 1rem !important;
  margin: 8px 0;

}

.checkmark { position: absolute; top: 0; height: 20px; width: 20px; background-color: #eee; }
/* .modal-body input { position: absolute;  opacity: 0;  cursor: pointer;  height: 0;  width: 0; } 
.checkmark:after { content: ""; position: absolute; display: none; } */
.checkmark:after { left: 9px; top: 5px; width: 5px;  height: 10px;  border: solid white;  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg); }
/* .modal-body:hover input ~ .checkmark { background-color: #ccc; }
.modal-body input:checked ~ .checkmark { background-color: #2196F3;}
.modal-body input:checked ~ .checkmark:after { display: block;} */

.t-pad {margin-top: 24px !important; padding-top: 24px !important;}
.input-box{margin: 0; padding: 6px 6px 6px 12px !important; line-height: 24px !important; border: 1px solid #ced4da !important; }
input.form-control.ng-pristine.ng-valid.ng-star-inserted.ng-touched { border: 1px solid #ced4da !important; }
.pop-height{/* height: 280px; */ width: 80%; margin: 2% auto;}
.dwnload-form {padding: 0; margin: 0; }

.convertimg
{
  height: 145px;
    object-fit: contain;
}
/* .dwnload-form {padding: 0; margin: 0; height: 300px;} */
.mrgnt0p{
  margin-top: 100px;
}

.social-media-tooltips {
  position: relative;
  display: inline-block;
  
}

.social-media-tooltips .social-media-tooltipstext {
  visibility: hidden;
  width: auto;
  background-color: #ddddddf0;
  color: #000000a6;
  text-align: left;
  border-radius: 6px;
  padding: 3px 5px;
  position: absolute;
  z-index: 1;
  top: 27px;
  left: 55px;
  /* margin-left: -60px; */
  /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
  /* word-break: break-word; */
  font-weight: normal;
  white-space: nowrap;
  
}

.social-media-tooltips .social-media-tooltipstext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #7f7272 transparent;
  display: none;
}

.social-media-tooltips:hover .social-media-tooltipstext {
  visibility: visible;
}

.txt-ellip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  text-align: inherit !important;
  padding-left: 55px;
  vertical-align: middle;
  
}
.txt-ellip img{
  vertical-align: text-bottom;
}
@media(max-width:680px){
  .txt-ellip{
    width: 145px;
  }
}
@media(max-width:1500px){
 
  .social-media-tooltips .social-media-tooltipstext{
    word-break: break-all;
    white-space: inherit;
    left: 20px;
  }
  .txt-ellip{
    padding: 0px 70px 0px 20px;
  }
}
.b0utnstyle:hover{
  box-shadow:5px 5px 10px 0 rgba(0,0,0,.18), 10px 10px 15px 0 rgba(0,0,0,.15);
}
.mrgt0p{
  margin-top: 100px;
  height: 780px;

}
.tblstyle thead th{
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #ddd;
}
.scrolstyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrolstyle::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrolstyle::-webkit-scrollbar-thumb
{
	background-color: #c3c0c0;
}
/* .main-nav-position table {
  margin-top: 0 !important;
} */
.employee-email{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
margin-top: 0;
}
.tblmrgn{
  margin-top: -10px;
  margin-bottom: -10px;
}
.ul_elements{
  display: flex;
  list-style-type: none;
  margin-right: 0px;
}
.ul_elements li{
  margin-right: 15px;
}

/* mobview icons start */

@media(max-width:768px){
  .mob_mb{
    margin-bottom: 25px;
  }
}
@media (max-width: 800px)
{
  .arrow-txt11 {
    -webkit-transform:translate3d(7px, -155px, 0px) !important;
    transform:translate3d(7px, -155px, 0px) !important;
}
.arrow_box11:after, .arrow_box11:before{
  top: 100%;
  transform: rotate(180deg);
}
.item_1{
  padding: 2px 10px;
}
}
.mob_view{
  width: 100%;
 background-color: #fff;
position: fixed;
padding: 15px 0 15px 0 !important;
 z-index: 9 !important;
 text-align: center;
 bottom: 0;
}
.mob_view li{
  margin-left: 30px;
}
/* mobview icons end */
.select_all{
  position: initial;
}
@media(min-width:1400px){
  .select_checkbox{
display: none;
  }
}